@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 25, 20, 20;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.spotify-gradient {
  background: linear-gradient(135deg, #1DB954 0%, #191414 100%);
}

.spotify-shadow {
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}